<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.myboard.dao.MyGuestbookMapper">
	<select id="myGuestbookList" parameterType="map" resultType="guestbookVO">
		SELECT
		      *
		FROM
		      guestbook
		WHERE
				<choose>
					<when test="searchItem == 'content'">
						content
					</when>
					<when test="searchItem == 'userid'">
						userid
					</when>
				</choose>
				LIKE '%'||#{searchKeyword}||'%'
				ORDER BY
				seq DESC
	</select>
</mapper>
